.card-image {
  display: block !important;
  margin: auto !important;
  height: auto !important;
  max-height: 11em !important;
  width: auto !important;
  max-width: 100% !important;
  transition: all 200ms ease-in;
  transform: scale(1);
}

.cardImage:hover {
  transition: all 200ms ease-in;
  transform: scale(1.2);
}

.card_border {
  border-top: 0.1em solid rgb(192, 184, 184) !important;
}

.simple_card {
  border: 0 !important;
  background: transparent !important;
  box-shadow: none !important;
}

.simple_card:hover {
  border: 0.1em solid rgb(192, 184, 184) !important;
  background: transparent !important;
  box-shadow: none !important;
}
.no-format-a {
  padding: 0;
}
