html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.no-padding-x {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.padding-y {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.no-padding-y {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}
