.general_padding_children {
  padding: 4rem !important;
}

.no_margin_bottom {
  margin-bottom: 0 !important;
}
.padding_btw_text {
  padding-top: 2.5rem !important;
}

@media (max-width: 767px) {
  .general_padding_children {
    padding: 1rem !important;
  }

  .padding_btw_text {
    padding-top: 2.5rem !important;
  }
}

@media (max-width: 768px) {
  .header_elements {
    margin-bottom: 2rem !important;
  }
}
