.menu_bar_commerce {
  background: #00468b; /* Old browsers */
  background: -moz-linear-gradient(left, #00468b 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #00468b 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #00468b 0%, #2989d8 100%, #207cca 100%, #7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00468b', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 */
}
